<div class="page">
  <div class="container">

<h1>Make predictions</h1>
<p><%= link_to 'Return to all events', '/events' %></p>
<p><%= @event.name %></p>
<p><%= @event.event_type %></p>


    <%= form_for [@event, @prediction] do |form| %>
      <%= form.label @event.prediction1 %>
      <%= form.text_field :prediction_1 %>
      <br>
      <%= form.label @event.prediction2 %>
      <%= form.text_field :prediction_2 %>
      <br>
      <%= form.label @event.prediction3 %>
      <%= form.text_field :prediction_3 %>
      <br>
      <%= form.submit 'Submit' %>
    <% end %>
  </div>
</div>

  