<h1><%= @event.name %></h1>

<table>
  <th>
    <th></th>
    <td><% @event.prediction1 %></td>
    <td><% @event.prediction2 %></td>
    <td><% @event.prediction3 %></td>
  </th>
  <% @event.user_event_predictions.each do |obj| %>
    <tr>
      <td><%= obj.user.name %></td>
      <td><%= obj.prediction_1 %></td>
      <td><%= obj.prediction_2 %></td>
      <td><%= obj.prediction_3 %></td>
    </tr>
  <% end %>
</table>